body{
    margin:0;
    overflow-x:hidden;
    background-image:linear-gradient(to bottom right,#02353C,#2EAF7D,#C1F6ED);
    scroll-behavior: smooth;
    
}
.navbar{
    position:fixed;
    top:0;
    background-color: darkslategray;
    color:aliceblue;
    width:100%;
    height:9%;
    justify-content: center ;
    vertical-align: middle;
    padding-top:1.5%;
    z-index:1000;
    

}
.navbar a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 2.5vw;
    padding:1%;
    vertical-align: middle;

}
nav a:hover{
    background-color: #ddd;
    color: black;

}
.navbar nav{
    float:right;
    display:inline;
    width:75%;
    text-align: right;

}
.logo{
    display: inline;
    width:25%;
    
}
main{
    margin-top:5%;
    width: 100%;
    text-align: center;
}
.leader{
    padding-top: 2%;
    background:url("img2.jpg");
    animation: example 20s ease-out;
    background-size:cover;
    background-repeat:repeat-x;
    
}

@keyframes example{
    0%{background-position: 0 0;}
    100%{background-position: -2525px 0;}
}
.btn-get-started {
    display:block;
    width:10%;
    margin:10%;
    text-align: center;
    text-decoration: none;
    border:solid darkgreen 6px;
    border-radius: 10px;
    font-size: x-large;
    margin-bottom: 2.5%;
    color:darkgreen;
    background-color: #ddd;
    float:right;
    box-shadow: 0 6px #999;

}
.leader a:active {
    
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
.about{
    display:flex;
    justify-content: space-between;
    width:90%;
    margin: auto;
    margin-top:5%;
    background-color: #ddd;
    border-radius:10px;

}
.box{
    width:40%;
    margin:2.5%;
    margin-top:5%;
}

.container{
    display:flex;
    justify-content: space-between;
    border-bottom:black solid 1px;
    font-size: larger;

}
.separator{
           padding-top: 1%;
           
}
.block{
    margin:4%;
    padding:1.5%;
}
.block:hover{
    border:solid 2px rgb(48, 42, 42);
    border-radius:2px;
    transition: linear 1s;
    transform:scale(110%);
}
.table-container{
    border-bottom:black solid 1px;
    text-align: center;
}
.certificates{
    display:flex;
    justify-content: space-between;
   
    font-size: larger;
}

.table{
    margin:2.5%;
    display:inline-block;
    border:black solid 2px;
    border-radius:2px;

}

.footer{
    background-color: darkslategray;
    color:antiquewhite;
    padding:2%;

}
.footer a{
    color:antiquewhite;
    text-decoration: none;
}
.footer-icons{
    
    float:right;
    
}
.table{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnZioAW4QXDf5W0FdlYAVR7fDQ_YU87xnYkw&usqp=CAU");
}
.list-unstyled{
    transform: translatey(400px);
    opacity: 0;
}
.table:hover .list-unstyled{
transform: translateY(0px);
transition: 0.8s;
opacity: 1;
}
.table:hover {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnZioAW4QXDf5W0FdlYAVR7fDQ_YU87xnYkw&usqp=CAU");
     background-size: 120% 120%;
     background-repeat: no-repeat;
     transition: 0.8s;
}
.table:hover h2{
    color: white;
    transition: 1s;
}

.table:hover h4{
    color: white;
    transition: 1s;
}

#back-to-top{
    display:none;
    text-decoration: none;
  position: fixed;
  bottom: 7.5vh;
  right: 2.5vw;
  float:right;
    width:5%;
    height:5%;
  z-index:100;
  font-size: larger;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

@media screen and (max-width:600px){
    
    .navbar{

        padding-top:3%;
        padding-bottom:2%;
    }
    .navbar nav{
        float:none;
        display:none;
        width:100%;
        padding:0;
        margin:0;
        text-align:center;
        
        
    }
    .navbar nav a{
        padding:0;
    }
    
    main{
        margin-top:10%;
    }
    .logo{text-align: center;
        margin:0;
        width:100%;}
    .logo a{
        font-size: xx-large;
    }
    .btn-get-started {
        
        width:30%;
        margin:auto;
        float:none;
        
    }
    .about{
        flex-direction:column;
        text-align:center;
        margin-top:10%;
    }
    .about video{
        height:75%;
        width:100%;
    }
    .box{
        width:90%;
    }
    .container{
        flex-direction:column;
    }
    .certificates{
        flex-direction: column;
    }
    .table{
        margin:10%;
        margin-bottom: 5%;
    }
    #back-to-top{
        bottom: 5vh;
        right: 9vw;
    }
      
       
     
     
      
    
}